
html, body, #root {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0; padding: 0;
  font-family: 'LCDBOLD';
  background-color: '#1B1A1A';
  color: white;
}

.roundButton {

  font-size: 2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-family: 'LCDBOLD';
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
  }
}

.roundButtonRed {

  font-size: 2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid white;
  color: white;
  background-color: red;
  font-family: 'LCDBOLD';
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
  }
}
